* {
    margin: 0px;
    padding: 0px;
}
#mainbody {
    width: 90%;
    border: 2px solid #007bff;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.heading {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
.middlebody {
    margin-top: 50px;
    padding-bottom: 70px;
}
.contactbody {
    padding-top: 30px;
    padding-bottom: 30px;
}
#graph {
    display: block;
    position: relative;
    font-size: 11px;
    height: 200px;
    margin: 1.1em 0 0;
    padding: 0;
}
#graph tr { 
    position: absolute;
    bottom: 0; 
    width: 150px; 
    z-index: 2;
    margin: 0; 
    padding: 0;
    text-align: center;
}
#graph th { 
    position: absolute;
    bottom: 0; 
    width: 150px; 
    z-index: 2;
    margin: 0; 
    padding: 0;
    text-align: center;
}
#graph td { 
    position: absolute;
    bottom: 0; 
    width: 150px; 
    z-index: 2;
    margin: 0; 
    padding: 0;
    text-align: center;
}
#q-graph tbody tr {
    height: 296px;
    padding-top: 2px;
    border-right: 1px dotted #C4C4C4; 
    color: #AAA;
}
#graph #html {
    left: 0;
}
#graph #css {
    left: 100px;
}
#graph #js {
    left: 200px;
}
#graph #php {
    left: 300px;
}
#graph tbody th {
    bottom: -1.75em; 
    vertical-align:top;
    color: #007bff;
    left: -4em;
}
#graph .bar {
    width: 60px; 
    border: 1px solid; 
    border-bottom: none; 
    color: #007bff;
}
#graph .bar p {
    margin: 5px 0 0;
    padding: 0;
    color: black;
}
.col-md-4:hover {
    opacity: #007bff;
}
#colorgame_style {
    padding: 21px 9px;
}
#right-contact {
    padding-left: 20px;
    text-align: end;
}
.contact-head {
    font-size: 20px;
    margin-bottom: 5px;
}
.contact-note {
    margin-bottom: 33px;
    font-size: 17px;
}